@border-width: 1px;
@border: @border-width solid rgba(57,128,57,0.4);

body {
  background: rgb(204, 255, 187);
}
.field {
  display: inline-block;
  background-image: url("../images/backgroundField.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10%;
}

.innerfield {
  border-right: @border;
  border-bottom: @border;
}

.fieldrow {
  font-size: 0px; // needed to remove whitegabs, linebreak in html causes this.
}

.cell {
  font-size: 16px; //turn back font-size from fieldrow
  display: inline-block;
  width: 10%;
}

.cellLeftBorder {
  .cell;
  border-left: @border;
}

.cellTopBorder {
  .cell;
  border-top: @border;
}

.cellBorder {
  .cell;
  border-left: @border;
  border-top: @border;
}

.figure {
  border-radius: 1.0em;
  width: 100%;
}

.player1 {
  background: rgba(255, 33, 45, 0.40);
  border: @border-width solid rgba(139, 5, 5, 0.80);
}

.player2 {
  background: rgba(61, 119, 255, 0.4);
  border: @border-width solid rgba(19, 44, 139, 0.8);
}

.selectArea {
  background-color: gold;
}