@border-width: 1px;
@border: @border-width solid rgba(57,128,57,0.4);

/*bootstrap <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*navbar height*/
.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 32px;
}
.navbar {min-height:28px !important;}

/*navbar color*/
.navbar-default {
  background-color: #84c550;
  border-color: #2d6e2d;
  margin-bottom: 0.5%;
}

/* title navbar*/
.navbar-default .navbar-brand {
  color: #cfff17;
}

/*navbar link*/
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
/*navbar small device icon bar*/
.navbar-header button:hover {
  background-color: #cfff17 !important;
}

.icon-bar {
  background-color: white !important;
}

/*selectArea*/
.selectArea {
  padding-right: 0px;
}

/*infoArea*/
.table.table-condensed tr th {
  border-bottom: 1px solid #83c54f;
  color: #ffffff;
  .icon {
    height: 8%;
  }
}
.infoArea {
  padding-left: 0px;
  .container-fluid {
    padding-left: 0px;
  }
}
/*bootstrap <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.back {
  position: absolute;
  left: 16%;
  top: -5%;
  width: 80%;
  z-index: -1;
}

body {
  background: rgb(53, 128, 51);
  @media(min-width: 1000px) {
    overflow: hidden;
  }
}

.field {
  display: inline-block;
  padding-right: 2%;
  padding-left: 1%;
}

.innerfield {
  background-image: url("../images/backgroundFieldInnerField.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-right: @border;
  border-bottom: @border;
}

.fieldrow {
  font-size: 0px; // needed to remove whitegabs, linebreak in html causes this.
}

.cell {
  font-size: 16px; //turn back font-size from fieldrow
  display: inline-block;
  width: 10%;
}

.cellLeftBorder {
  .cell;
  border-left: @border;
}

.cellTopBorder {
  .cell;
  border-top: @border;
}

.cellBorder {
  .cell;
  border-left: @border;
  border-top: @border;
}

.figure {
  border-radius: 1.0em;
  width: 100%;
}

.hover {
  filter: grayscale(0.5);
  background-color: rgba(115, 115, 115, 0.3);
}

.selected {
  filter:grayscale(1) brightness(2.5);
}

.selected.hover {
  filter:grayscale(1) brightness(3.5);
}

.player1 {
  background: rgba(255, 33, 45, 0.40);
  border: @border-width solid rgba(139, 5, 5, 0.80);
}

.player2 {
  background: rgba(61, 119, 255, 0.4);
  border: @border-width solid rgba(19, 44, 139, 0.8);
}

.selectArea {
  font-size: 0px;
}

.selectCell {
    font-size: 16px;
    border: @border-width solid rgba(38, 111, 38, 0.76);
    display: inline-block;
    width: 15%;
}

.numberOfCharacters {
  font-size: 130%;
}

/*finishTurn Button*/
.finishTurn {
  position: relative;
  background-color: rgba(132, 197, 80, 0.6);
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 11px;
  width: 90%;
  margin-bottom: 10px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.finishTurn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.finishTurn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
