@*
 * This template is called for the StrategoWui.
 *@
@(controller: de.htwg.stratego.controller.IStrategoController)

@getCellBorder(row:Int, column:Int) = @{
    var cellName = ""
    var field = controller.getIField
    var cell = field.getCell(column, row)
    
    if (cell.isPassable()) {
        cellName = "cellBorder"
    } else {
        if (column == 0 || row == 0) {
            cellName = "cellBorder"
        } else if (!field.getCell(column-1, row).isPassable && !field.getCell(column, row-1).isPassable) {
            cellName = "cell"
        } else if (!field.getCell(column-1, row).isPassable) {
            cellName = "cellTopBorder"
        } else if (!field.getCell(column, row-1).isPassable) {
            cellName = "cellLeftBorder"
        } else {
            cellName = "cellBorder"
        }
    }
    
    cellName
}


@getPlayer(player:de.htwg.stratego.model.IPlayer) = @{
    var playerName = ""
    var players:Array[de.htwg.stratego.model.IPlayer] = controller.getPlayer()

    if ( player == players(0)) {
        playerName = "player1"
    } else if ( player == players(1)) {
        playerName = "player2"
    }
    playerName
}

@getCharacterImagePath(character:de.htwg.stratego.model.ICharacter) = @{
    routes.Assets.versioned("images/figures/" + character.getRank() +".svg")
}

<!DOCTYPE html>
<html>
    <head>
        <title>StrategoWui</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/strategoWui.css")">
        <!-- 
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
         -->
    </head>
    <body>
        <div class="selectArea">

        </div>
        <div class="field">
            <div class="innerfield">
                @for(row <- 0 until controller.getFieldHeight()) {
                    <div class="fieldrow">
                        @for(column <- 0 until controller.getFieldWidth()) {
                            <span class="@getCellBorder(row, column)">
                            @if(controller.getIField().getCell(column, row).containsCharacter()) {
                                <img class="figure @getPlayer(controller.getIField().getCell(column, row).getCharacter().getPlayer())" src="@getCharacterImagePath(controller.getIField().getCell(column, row).getCharacter())" >
                            }
                            </span>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="infoArea">

        </div>
    </body>
</html>